body{

  
}


/* UNIVERSAL --------------------------*/

h2{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 600;
  font-size: 40px;
  text-align: center;
  font-size: 200%;

}

h1{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 600;
  font-size: 60px;
  text-align: center;
  font-size: 200%;
  color: white;

}


p{

  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 1px;
  color: #747474;
  position: center;
  height: auto;
  margin-bottom: 10px;
  margin-top: 20px;
  text-align: center;

 }

.lightbox a {
  font-size: 50px;
}
 
a{
  color: black;
  
}



/* COVER --------------------------*/

.cover-image{

  width: auto;
  height: 90%;
  background: url("http://i.imgur.com/1ZDrANe.jpg");
  background-size: cover;
  overflow: none;
  background-attachment: fixed;
  z-index: 1000;

}



.title {
  position: fixed;
  width: 100%;
  margin-top: ; 

}

.title p {
  font-size: 7em;
  text-align: center;
  font-family: Helvetica;
  color: #747474;
 
  line-height: 2em;
}




@media only screen and (max-width: 768px) {
  

  .cover-image {
    overflow: hidden;
  }

  .cover-image img {
  height: 100%;
  width: auto;
}

  .title{
    position: absolute;
    width: 100%;
    padding-top: 10%;
  }

  .title p{
  margin: 0 auto;
  font-size: 5em;
  text-align: center;
}

}


/* NAV BAR --------------------------*/

.afix-top{
  
}

.afix-top ul{
  margin: 0 auto;
  padding: 0;
  display: block;
  text-align: center;

}

#nav {
  width: 100%;
  height: 30px;
  background-color: #F7F7F7;
  z-index: 1006;
  text-align: center;
  display: block;



}

.fix-to-top {
  position: fixed;
  left: 0;
  top: 0;

}

.fix-to-top ul {
  margin: 0;
  padding: 0;
  display: block;
  text-align: center;
}


a:hover{
  color: gray;
  text-decoration: none;
}

#nav-agencies a{
  color: ;
}


.nav-list{
display: inline-block;
text-decoration: none;
height: auto;

}
.nav-id h2{
  font-size: 2em;
  padding: 0px 80px;
  margin: 0 auto;
  font-weight: 200;
}

.nav-id a{
  height: 0;
}





@media only screen and (max-width: 768px) {
  

  .nav-id h2{
  font-size: 2em;
  font-weight: 200;
  padding: 0px 18px;
  margin: 0 auto;
}
  .nav-feed {
    display: none;
  }

  #locations{
    display: none;
  }

  .nav-mobile {
    display: ;
  
}

.nav-agencies {
  display: none;
}

}




/* AGENCIES --------------------------*/

@media only screen and (max-width: 768px) {
  #agencies {
    display: none;

  }
}

#agencies{
  width: 100%;
  height: 640px;
  padding-top: 50px;
  padding-right: 10px;
  padding-bottom: 20px;
  position: ;
 
  


}



#map{
  width:100%;
  height: 100%; 
  float: left;
  position: relative;

}


.days{
 
  width:7%;
  height: 532%;
  float: left;
  margin-left: 50px;
  margin-top: 20px;
  


}

button{
  width: 85px;
  border: 1px solid;
  border-color:rgba(0,0,0, 0.0);  
  margin-bottom: 35px;
  background: rgba(178, 255, 178, 1);

}

button:focus {outline:0;}

button h2{
  font-size: 20px;
  color: white;

}

button:hover {
  color: red;
}

.agency-button{
  width: 100%;
  color: white;
  background: rgba(0, 0, 0, 0);

}



.agency-button h2{

  font-size: 60px;
  line-height: .8em;

}



#agencies-list{

  width: 40%;
  height: 531px;
  float: left;
  margin: 0 auto;
  background-color: white;
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 0px;
  position: ;


}

#agencies-list p{
  color: white;
}

#agencies-list .details {
  display: none;
}

.agencies-home{
  width: 100%;
  height: 100%;
  background-color: ;


}


.agencies-monday{

  
  width: 100%;
  height: 100%;
  background-color: ;
  font-size: 40px;
  position: relative;

}

.agency-monday{

  width: 100%;
  height: 95px;
  background-color: orange;
  margin-bottom: 1%;
  text-align: center;
  display: ;
  



}

.agencies-tuesday{
  
  width: 100%;
  height: 100%;
  background-color: ;
  overflow: scroll;
  position: relative;



}

.agency-tuesday{

  width: 100%;
  height: 95px;
  background-color: orange;
  margin-bottom: 1%;
  text-align: center;
  display: ;
  font-size: 40px;
  

}

.agencies-wednesday{

  
  width: 100%;
  height: 100%;
  background-color: ;
  overflow: scroll;
  position: relative;


}

.agency-wednesday{

  width: 100%;
  height: 95px;
  background-color: orange;
  margin-bottom: 1%;
  text-align: center;
  display: ;


}

.agencies-thursday{


  width: 100%;
  height: 100%;
  background-color: ;
  overflow: scroll;

}

.agency-thursday{

  width: 100%;
  height: 95px;
  background-color: orange;
  margin-bottom: 1%;
  text-align: center;
  display: ;


}


.agencies-friday{


  width: 100%;
  height: 100%;
  background-color: ;
  overflow: scroll;


}

.agency-friday{

  width: 100%;
  height: 95px;
  background-color: orange;
  margin-bottom: 1%;
  text-align: center;
  display: ;



}

#map-info{

  width: 35%;
  height: 531px;
  background-color:;
  float: right;
  margin-right: 30px;
  
  

}

.details{
  margin-right: 10px;
  height: 531px
  
}

#map-info h1{
  text-align: center;
  color: blue;
  font-size: 5em;
}

#map-info p{
  padding: 0 20px;
  font-size: 18px;
  font-weight: 50;
  color: white;
  line-height: 18px;


}




.agency-info{
    width: 100%;
    height: 50%;
    background-color: blue;
    display: ;
}

.agency-info2{
    width: 100%;
    height: 50%;
    background-color: green;
    display: ;
}

.bio-map {
  width: 60px;
  height: 60px;
  margin: 0 10px ;
  
 
}

.bio-map img{
  width: 100%;
  height: auto;
  
}

#WandK{
  background-image: url(http://c0717682.cdn.cloudfiles.rackspacecloud.com/media/398.jpg);
  background-position:center; 
}

#WandK-details{
  width: 100%;
  height: 531px;
  background-color: black; 
}

#WandK h2{
  text-shadow: 0px 0px 50px #5C5C5C;
}

#three60i{
  background-image: url(http://files.coloribus.com/files/adsarchive/part_1726/17269705/file/oreocookies-the-oreo-blackout-tweet-1024-83953.jpg);
  background-position: 0% 75%; 

}

#three60i-details{
  width: 100%;
  height: 531px;
  background-color: black; 

}

#oneshow{
  background-image: url(https://static.squarespace.com/static/52536652e4b007332ef4ecf4/52dec946e4b0ca499f87bce7/52dec974e4b0ca499f88cb26/1328568892947/1000w/DieLine.CreativeWeek1.jpg);
  background-position: 50% 80%; 

}

#oneshow-details{
  width: 100%;
  height: 531px;
  background-color: black; 
}

#bigspaceship{
  background-image: url(http://i.imgur.com/1EKcT5T.png);
  background-position: 50% 80%; 

}


#bigspaceship-details{
  width: 100%;
  height: 531px;
  background-color: black; 

}

#bigspaceship-button h2{
  font-size: 45px;
}

#DDB{
  background-image: url(http://jazarah.net/blog/wp-content/samer/2010/12/ddb-thumbs.jpg);
  background-position: 48% 50%; 

}

#DDB-details{
  width: 100%;
  height: 531px;
  background-color: black; 
}

#huge{
  background: rgba(236, 0, 140, 1);
  

}

#huge-details{
  width: 100%;
  height: 531px;
  background-color: black; 
}

#BBMG{
  background-image: url(http://bbmg.com/wp-content/uploads/2013/04/What1.jpg);
  background-position: 48% 50%; 
  background-size: cover;

}

#BBMG-details{
  width: 100%;
 height: 531px;
  background-color: black; 
}

#rga{
  background-image: url(http://officepictures.files.wordpress.com/2012/02/rga_londre_1.jpg);
  background-position: 50% 90%; 
  background-size: ;

}

#rga-details{
  width: 100%;
  height: 531px;
  background-color: black; 
}


#radical{
  background-image: url(http://www.radicalmedia.com/Vault/Thumb?Quality=80&VaultID=2075&ResX=940&ResY=350&Mode=D&v=1398367560);
  background-position: 48% 60%; 


}

#radical-details{
  width: 100%;
  height: 531px;
  background-color: black; 
}

#strawberry-frog{
  background-image: url(http://officesnapshots.com/wp-content/uploads/2012/02/106_mad_strawberryfrog2.jpg);
  background-position: 48% 80%; 


}

#strawberry-frog-details{
  width: 100%;
  height: 531px;
  background-color: black; 
}

#strawberry-frog h2{
  font-size: 41px;
   text-shadow: 0px 0px 50px #5C5C5C;
  height: 100%;
}

#strawberry-frog-details h1{
  font-size: 35px;
   
}


#mcgarrybowen{
  background-image: url(http://cached.imagescaler.hbpl.co.uk/resize/scaleToFit/420/420/?sURL=http://offlinehbpl.hbpl.co.uk/galleries/OMC/35764_125267_Gallery1stairs-equirect-2400.jpg);
  background-position: 48% 80%; 
  background-size: cover;


}

#mcgarrybowen-details{
  width: 100%;
  height: 531px;
  background-color: black; 
}

#mcgarrybowen h2{
  font-size: 45px;
   
  
}

#clinton{
  background-image: url(http://edelman-zippykid.netdna-ssl.com/assets/uploads/2013/09/Clinton-Global-Initiative2.jpg);
  background-position: 50% 50%; 
  background-size:;


}

#clinton h2{
  font-size: 45px;
}

#clinton-details{
  width: 100%;
  height: 531px;
  background-color: black; 
}

#siegel{
  background: rgba(0, 0, 0, .7); 

}

#siegel h2 {
  font-size: 45px;
}

#siegel-details{
  width: 100%;
 height: 531px;
  background-color: black; 
}

#digiday{
  background-image: url(http://i2.wp.com/digiday.com/wp-content/uploads/2014/01/thumbnail_DCMA.jpg?resize=366%2C200);
  background-position: 50% 50%; 
  background-size: cover;

}

#digiday h2 {
  font-size: ;
  text-shadow: 0px 0px 50px #5C5C5C;
  height: 100%;
}

#digiday-details{
  width: 100%;
  height: 531px;
  background-color: black; 
}

#phd{
  background-image: url(http://i.imgur.com/xAzBHkF.jpg);
  background-position: 10% 50%; 
  background-size: cover;

}

#phd h2 {
  font-size: ;
  text-shadow: 0px 0px 50px #5C5C5C;
  height: 100%;
}

#phd-details{
  width: 100%;
  height: 531px;
  background-color: black; 
}



#cocollective{
  background-image: url(http://i.imgur.com/J5AgfVD.jpg);
  background-position: 40% 33%; 
  background-size: cover;

}

#cocollective h2 {
  font-size: 45px;
  text-shadow: 0px 0px 60px #6e6e6e
;
  height: 100%;
}

#cocollective-details{
  width: 100%;
  height: 531px;
  background-color: black; 
}

#code{
  background-image: url(http://designarray.com/images/made/images/uploads/feature_titles/an-interview-with-code-and-theory_590_360_gra_c1.png);
  background-position: 48% 80%; 
  background-size: cover;


}

#code-details{
  width: 100%;
  height: 531px;
  background-color: black; 
}
#code h2 {
  font-size: 45px;
  
}

#subrosa {
  background-image: url(http://cdn.psfk.com/wp-content/uploads/2013/12/psfk-pantone-radiant-orchid-2.jpg);
  background-position: 48% 20%; 
  background-size: cover;


}

#subrosa-details{
  width: 100%;
  height: 531px;
  background-color: black; 
}

#subrosa h2 {
  font-size: 45px;
  
}

#story {
  background-color: #ffee00;
  
  


}

#story-details{
  width: 100%;
  height: 531px;
  background-color: black; 
}

#mets {
  background-image: url(http://www.filminglocations.com/Images/ListingPictures/Original/4844_citifield.JPG);
  background-position: 48% 80%; 
  background-size: cover;


}

#mets-details{
  width: 100%;
  height: 531px;
  background-color: black; 
}




/* MOBILE AGENCIES-------------------------- */

@media only screen and (min-width: 769px) {
  #mobile-calendar {
    display: none;
  }

    .nav-mobile{
    display: none;
  
  }
}

#mobile-calendar{

  width: 100%;
  padding-top: 60px;


}



.mobile-agency .agency-inner {
  display: none;

}


.mobile-day {

  width: 100%;
  height: 150px;
  background-color: #A1A1A1;
  margin-top: 1px;
  font-size: 30px;
  text-align: center;
  font-family: Garamond;


}

.mobile-agency {
  width: 100%;
  height: 150px;
  background-color: #E1E1E1;
  margin-top: 1px;
  text-align: center;

}

.agency-inner  {
  position: fixed;
  right:9%;
  top: 10%;
  width: 80%;
  height: 80%;
  display: block;

}

.agency-name p{
  text-align: center;
  font-size: 3em;
  color: white;

}


.agency-bio {
  max-width: 100%;
  height: 200px;
  margin: 10px 0 0 0;
  padding: 0 10px 0 10px;

}

.agency-bio p {
  color: black;
  width: 90%;
  height: auto;
  text-align: justify-center;
  overflow: none;
  margin: 0 auto;

}


.agency-icons{
  width: 100%;
  display: inline-block;
  padding: 0;
  text-align: center;
  margin-top: 20px;

 
}


.agency-twitter {
  width: 70px;
  height: 70px;
  margin: 0 10px ;
  
 
}

.agency-website {
  width: 70px;
  height: 70px;
  margin: 0 10px ;

}

.agency-map {
  width: 70px;
  height: 70px;
  margin: 0 10px ;
  
}

.agency-twitter img{
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.agency-website img{
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.agency-map img{
  width: 100%;
  height: 100%;
  text-decoration: none;
}





/* FEED --------------------------*/



@media only screen and (max-width: 768px) {

  #feed{ display: none;
  }

 }



#feed{
  position: relative;
  width: 100%;
  height: 1200px;
  margin: 20px 0;
  padding-top: 50px;
  background-color: ;


}

.instagram-feed{

  width: 100%;
  height: 450px;
}

.main{
  padding-top: 20px;
  width: 100%;
  height: 100%;
  float: left;
  border-color: black;
  overflow: scroll;
  padding: 0;
  margin: 0;
  margin-left: 1%;
  text-align: center;
  position: relative;
  


}

.ig-wrapper {
  width: 68%;
  height: 600px;
  
 

}

.ig p {
  font-size: 12px;
  line-height: 1em;
}

.instagram-info{
  float: left;
   width: 28%;
  height: 100%;
}

.instagram-info h1 {
  float: right;
  text-align: center;
  width: 100%;
}

.twitter-timeline{
  float: left;
  width: 68%;
  margin-right: 1%;

}

.ig{
  
  width: 31%;
  min-width: 200px;
  display: inline-block;
  position: relative;
  margin: 0 3px;

}



.ig img{

  width: 100%;
  height: auto;
 
}

/* BIOS --------------------------*/

#bios{

  width: 100%;
  height: auto;
  text-align: center;
  float: bottom;
  position: relative;
  padding-left: 0;
  padding-right: 0;
  padding-top: 50px;
  padding-bottom: 30px;
  background-color: ;


}




.bio-box{

    width: 235px;
    height: auto;
    margin: 5px;
    color: black;
    margin: 0, auto;
    display: inline-block;
    padding: 0;

}


li img{

    width: 235px;
    height: auto;

  }

.bio-name{
  height: auto;

}

.bio-name p{
  text-align: center;
  font-size: 3em;
  color: white;

}


.inner{
  position: fixed;
  right:9%;
  top: 10%;
  width: 80%;
  height: 80%;
  display: block;

}

.bio-pic {

  width: 30%;
  height: auto;
  margin: 40px 0 0 10%;
}

.inner-bio {
  max-width: 50%;
  height: auto;
  float: right;
  margin: 40px 0 0 0;
  padding: 0 10% 0 10px;

}

.inner-bio p {
  color: black;
  width: 100%;
  height: auto;
  text-align: justify-center;
  overflow: none;

}

.bio-box .inner {
  display: none;

}

.bio-icons {
  width: 100%;
  display: inline-block;
  padding: 0;
  text-align: center;
  margin-top: 20px;
}

.bio-icons li{
  display: inline-block;
}


.bio-insta {
  width: 60px;
  height: 60px;
  margin: 0 10px ;
  
 
}

.bio-twitter {
  width: 70px;
  height: 70px;
  margin: 0 10px ;

}

.bio-portfolio {
  width: 70px;
  height: 70px;
  margin: 0 10px ;
  
}


.bio-insta img{
  width: 100%;
  height: auto;
  
}

.bio-twitter img{
  width: 100%;
  height: auto;
  
}

.bio-portfolio img{
  width: 100%;
  height: auto;
  
} 

.inner-bio p{
color: white;

}






/* Mobile Bios-------------------------- */
@media only screen and (min-width: 769px) {

#bios-mobile{
  display: none;
}
}


  @media only screen and (max-width: 768px) {

#bios{
  display: none;
}

#bios-mobile{
  display: ;
  width: 100%;
  height: auto;
  text-align: center;
  float: bottom;
  position: relative;
  padding-left: 0;
  padding-right: 0;
  padding-top: 50px;
  padding-bottom: 30px;
  background-color: gray;


}




.bio-box{

    width: 280px;
    height: 220px;
    color: black;
    margin: 0, auto;
    display: inline-block;
    padding: 0;

}

.bio-box img{
  width: 100%;
  height: auto;
}


.inner{
  position: fixed;
  right:9%;
  top: ;
  width: 80%;
  height: 80%;
  display: block;

}

.bio-name {
  margin-top: -10px;
}



.bio-name p{
  font-size: 1.5em;
}

.inner-bio {
  max-width: 100%;
  height: auto;
  margin: 4px 0 0 0;
  padding: 0 4px 0 4px;

}

.bio-pic {
  display: none;
  width: 160px;
  height: auto;
  margin: 0 auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.inner-bio p {
  color: white;
  width: 90%;
  height: auto;
  text-align: left;
  overflow: none;
  margin: 0 auto;
  line-height: 1.0;

}

.bio-box .inner {
  display: none;

}

.bio-icons{
  display: inline-block;
  height: auto;
  width: 100%;
  float: right;
  margin-right: 10px;
  margin-top: 10px;

 
}

.bio-insta {
  width: 20px;
  height: 20px;
  margin: 0 20px ;
  
 
}

.bio-twitter {
  width: 20px;
  height: 20px;
  margin: 0 20px ;

}

.bio-portfolio {
  width: 20px;
  height: 20px;
  margin: 0 20px ;
  
}

.bio-insta img{
  width: 100%;
  height: 100%;
}

.bio-twitter img{
  width: 100%;
  height: 100%;
}

.bio-portfolio img{
  width: 100%;
  height: 100%;
}


}




.lightbox {
  position: fixed;
  right:9%;
  top: 9%;
  width: 80%;
  height: 89%;
  display: none;
  z-index: 2000;
  opacity: 1;
  color: 333;
  background-color: rgba(0, 0, 0, .5);

}

.lightbox-wrapper {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.75);
  z-index: 1005;
  display: none;
  
}
}


.lightbox {
  position: fixed;
  right:9%;
  top: 10%;
  width: 80%;

  max-height: 70%;
  display: none;
  z-index: 2000;
  opacity: 1;
  color: 333;
  background-color: rgba(0, 0, 0, .5);

}

.lightbox-wrapper {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.75);
  z-index: 1005;
  display: none;
  
}
}