body{

  overflow-y: hidden;
}


/* UNIVERSAL --------------------------*/

h2{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 600;
  text-align: center;
  font-size: 200%;

}

h1{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 600;
  font-size: 60px;
  text-align: center;
  font-size: 200%;
  color: white;

}


p{

  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 1px;
  color: #747474;
  position: center;
  height: auto;
  margin-bottom: 10px;
  margin-top: 20px;
  text-align: center;

 }

.lightbox a {
  font-size: 50px;
}
 
a{
  color: black;
  
}



/* COVER --------------------------*/

.cover-image{

  width: auto;
  height: 90%;
  background: url("http://i.imgur.com/1ZDrANe.jpg");
  background-size: cover;
  overflow: none;
  background-attachment: fixed;
  z-index: 1000;

}



.title {
  position: fixed;
  width: 100%;
  margin-top: ; 

}

.title p {
  font-size: 7em;
  text-align: center;
  font-family: Helvetica;
  color: #747474;
 
  line-height: 2em;
}




@media only screen and (max-width: 768px) {
  

  .cover-image {
    overflow: hidden;
  }

  .cover-image img {
  height: 100%;
  width: auto;
}

  .title{
    position: absolute;
    width: 100%;
    padding-top: 10%;
  }

  .title p{
  margin: 0 auto;
  font-size: 5em;
  text-align: center;
}

}


/* NAV BAR --------------------------*/

.afix-top{
  
}

.afix-top ul{
  margin: 0;
  padding: 0;
  display: block;
  text-align: center;

}

#nav {
  width: 100%;
  height: 50px;
  background-color: #F7F7F7;
  z-index: 1006;
  text-align: center;
  display: block;



}

.fix-to-top {
  position: fixed;
  left: 0;
  top: 0;

}

.fix-to-top ul {
  margin: 0;
  padding: 0;
  display: block;
  text-align: center;
}


a:hover{
  color: gray;
  text-decoration: none;
}

#nav-agencies a{
  color: ;
}


.nav-list{
display: inline-block;
text-decoration: none;

}
.nav-id {
  font-size: 3em;
  padding: 0px 30px;
}





@media only screen and (max-width: 768px) {
  .nav-id {
    font-size: 2em;
    padding: 0px 10px 0px 0px;

  }
  .nav-feed {
    display: none;
  }

  #locations{
    display: none;
  }

  .nav-mobile {
    display: ;
  
}

.nav-agencies {
  display: none;
}

}




/* AGENCIES --------------------------*/

@media only screen and (max-width: 768px) {
  #agencies {
    display: none;

  }
}

#agencies{
  width: 100%;
  height: 600px;
  padding-top: 50px;
  padding-right: 10px;
  padding-bottom: 20px; 
  border-style:solid ;
  border-width:1px;
  border-color: black;


}


#map{
  width:60%;
  height: 100%; 
  float: left;
  position: relative;

}


.days{
 
  width:15%;
  height: 100%;
  float: left;
  margin-left: 40px;
  


}

button{
  width: 85px;
  background-color: white;
  border: solid 1px black;
  margin-bottom: 4px;

}

button h2{

}

button:hover {
  color: red;
}

#agencies-list{

  width: 75%;
  height: 100%;
  float: right;
  margin: 0 auto;

  background-color: white;

}

#agencies-list .details {
  display: none;
}

.agencies-home{
  width: 100%;
  height: 100%;
  background-color: orange;


}

.agencies-monday{

  
  width: 100%;
  height: 100%;
  background-color: red;

}

.agency-monday{

  width: 100%;
  height: 19%;
  background-color: orange;
  margin-bottom: 1%;
  text-align: center;
  display: ;


}

.agencies-tuesday{
  
  width: 100%;
  height: 100%;
  background-color: blue;



}

.agency-tuesday{

  width: 100%;
  height: 19%;
  background-color: orange;
  margin-bottom: 1%;
  text-align: center;
  display: ;

}

.agencies-wednesday{

  
  width: 100%;
  height: 100%;
  background-color: green;


}

.agency-wednesday{

  width: 100%;
  height: 19%;
  background-color: orange;
  margin-bottom: 1%;
  text-align: center;
  display: ;


}

.agencies-thursday{


  width: 100%;
  height: 100%;
  background-color: black;

}

.agency-thursday{

  width: 100%;
  height: 19%;
  background-color: orange;
  margin-bottom: 1%;
  text-align: center;
  display: ;


}


.agencies-friday{


  width: 100%;
  height: 100%;
  background-color: yellow;


}

.agency-friday{

  width: 100%;
  height: 19%;
  background-color: orange;
  margin-bottom: 1%;
  text-align: center;
  display: ;



}

#map-info{

  width: 40%;
  height: 100%;
  background-color:;
  float: right;
  position: relative;
  padding-right: ;

}

.details{
  margin-right: 10px;
}

#map-info h1{
  text-align: center;
  color: blue;
  font-size: 5em;
}

#map-info p{
  padding: 0 20px;
  font-size: 18px;


}


.agency-info{
    width: 100%;
    height: 50%;
    background-color: blue;
    display: ;
}

.agency-info2{
    width: 100%;
    height: 50%;
    background-color: green;
    display: ;
}

.bio-map {
  width: 60px;
  height: 60px;
  margin: 0 10px ;
  
 
}

.bio-map img{
  width: 100%;
  height: auto;
  
}


/* MOBILE AGENCIES-------------------------- */

@media only screen and (min-width: 769px) {
  #mobile-calendar {
    display: none;
  }

    .nav-mobile{
    display: none;
  
  }
}

#mobile-calendar{

  width: 100%;
  padding-top: 60px;


}



.mobile-agency .agency-inner {
  display: none;

}


.mobile-day {

  width: 100%;
  height: 150px;
  background-color: #A1A1A1;
  margin-top: 1px;
  font-size: 30px;
  text-align: center;
  font-family: Garamond;


}

.mobile-agency {
  width: 100%;
  height: 150px;
  background-color: #E1E1E1;
  margin-top: 1px;
  text-align: center;

}

.agency-inner  {
  position: fixed;
  right:9%;
  top: 10%;
  width: 80%;
  height: 80%;
  display: block;

}

.agency-name p{
  text-align: center;
  font-size: 3em;
  color: white;

}


.agency-bio {
  max-width: 100%;
  height: 200px;
  margin: 10px 0 0 0;
  padding: 0 10px 0 10px;

}

.agency-bio p {
  color: black;
  width: 90%;
  height: auto;
  text-align: justify-center;
  overflow: none;
  margin: 0 auto;

}


.agency-icons{
  width: 100%;
  display: inline-block;
  padding: 0;
  text-align: center;
  margin-top: 20px;

 
}


.agency-twitter {
  width: 70px;
  height: 70px;
  margin: 0 10px ;
  
 
}

.agency-website {
  width: 70px;
  height: 70px;
  margin: 0 10px ;

}

.agency-map {
  width: 70px;
  height: 70px;
  margin: 0 10px ;
  
}

.agency-twitter img{
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.agency-website img{
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.agency-map img{
  width: 100%;
  height: 100%;
  text-decoration: none;
}





/* FEED --------------------------*/



@media only screen and (max-width: 768px) {

  #feed{ display: none;
  }

 }



#feed{
  position: relative;
  width: 100%;
  height: 1200px;
  margin: 20px 0;
  padding-top: 50px;
  background-color: orange;


}

.instagram-feed{

  width: 100%;
  height: 450px;
}

.main{

  width: 48%;
  height: 90%;
  float: right;
  border-color: black;
  overflow: scroll;
  padding: 0;
  margin: 0;
  margin-left: 1%;
  text-align: center;


}

.instagram-info{
  float: right;
   width: 48%;
  height: 100%;
}

.instagram-info h1 {
  float: right;
  text-align: center;
  width: 100%;
}

.twitter-timeline{
  float: right;
  width: 48%;
  margin-right: 1%;

}

.ig{
  
  width: 27%;
  min-width: 200px;
  display: inline-block;
  position: relative;
  margin: 0 3px;

}



.ig img{

  width: 100%;
  height: auto;
 
}

/* BIOS --------------------------*/

#bios{

  width: 100%;
  height: auto;
  text-align: center;
  float: bottom;
  position: relative;
  padding-left: 0;
  padding-right: 0;
  padding-top: 50px;
  padding-bottom: 30px;
  background-color: ;


}




.bio-box{

    width: 235px;
    height: auto;
    margin: 5px;
    color: black;
    margin: 0, auto;
    display: inline-block;
    padding: 0;

}


li img{

    width: 235px;
    height: auto;

  }

.bio-name{
  height: auto;

}

.bio-name p{
  text-align: center;
  font-size: 3em;
  color: white;

}


.inner{
  position: fixed;
  right:9%;
  top: 10%;
  width: 80%;
  height: 80%;
  display: block;

}

.bio-pic {

  width: 30%;
  height: auto;
  margin: 40px 0 0 10%;
}

.inner-bio {
  max-width: 50%;
  height: auto;
  float: right;
  margin: 40px 0 0 0;
  padding: 0 10% 0 10px;

}

.inner-bio p {
  color: black;
  width: 100%;
  height: auto;
  text-align: justify-center;
  overflow: none;

}

.bio-box .inner {
  display: none;

}

.bio-icons {
  width: 100%;
  display: inline-block;
  padding: 0;
  text-align: center;
  margin-top: 20px;
}

.bio-icons li{
  display: inline-block;
}


.bio-insta {
  width: 60px;
  height: 60px;
  margin: 0 10px ;
  
 
}

.bio-twitter {
  width: 70px;
  height: 70px;
  margin: 0 10px ;

}

.bio-portfolio {
  width: 70px;
  height: 70px;
  margin: 0 10px ;
  
}


.bio-insta img{
  width: 100%;
  height: auto;
  
}

.bio-twitter img{
  width: 100%;
  height: auto;
  
}

.bio-portfolio img{
  width: 100%;
  height: auto;
  
} 

.inner-bio p{
color: white;

}






/* Mobile Bios-------------------------- */
@media only screen and (min-width: 769px) {

#bios-mobile{
  display: none;
}
}


  @media only screen and (max-width: 768px) {

#bios{
  display: none;
}

#bios-mobile{
  display: ;
  width: 100%;
  height: auto;
  text-align: center;
  float: bottom;
  position: relative;
  padding-left: 0;
  padding-right: 0;
  padding-top: 50px;
  padding-bottom: 30px;
  background-color: gray;


}



.bio-box{

    width: 280px;
    height: 220px;
    color: black;
    margin: 0, auto;
    display: inline-block;
    padding: 0;

}

.bio-box img{
  width: 100%;
  height: auto;
}



.bio-name p{
  font-size: 1.5em;
}

.inner-bio {
  max-width: 100%;
  height: auto;
  margin: 4px 0 0 0;
  padding: 0 10px 0 10px;

}

.bio-pic {
  display: none;
  width: 80px;
  height: auto;
  margin: 0 auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.inner-bio p {
  color: white;
  width: 90%;
  height: auto;
  text-align: left;
  overflow: none;
  margin: 0 auto;
  line-height: 1.0;

}

.bio-box .inner {
  display: none;

}

.bio-icons{
  display: inline-block;
  height: auto;
  width: 100%;
  float: right;
  margin-right: 10px;
  margin-top: 4px;

 
}

.bio-insta {
  width: 20px;
  height: 20px;
  margin: 0 20px ;
  
 
}

.bio-twitter {
  width: 20px;
  height: 20px;
  margin: 0 20px ;

}

.bio-portfolio {
  width: 20px;
  height: 20px;
  margin: 0 20px ;
  
}

.bio-insta img{
  width: 100%;
  height: 100%;
}

.bio-twitter img{
  width: 100%;
  height: 100%;
}

.bio-portfolio img{
  width: 100%;
  height: 100%;
}


}




.lightbox {
  position: fixed;
  right:9%;
  top: 10%;
  width: 80%;
  height: 85%;
  display: none;
  z-index: 2000;
  opacity: 1;
  color: 333;
  background-color: rgba(0, 0, 0, .5);

}

.lightbox-wrapper {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.75);
  z-index: 1005;
  display: none;
  
}
}


.lightbox {
  position: fixed;
  right:9%;
  top: 10%;
  width: 80%;

  max-height: 70%;
  display: none;
  z-index: 2000;
  opacity: 1;
  color: 333;
  background-color: rgba(0, 0, 0, .5);

}

.lightbox-wrapper {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.75);
  z-index: 1005;
  display: none;
  
}
}